@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container{
    width: 100%;
    height: 100%;
    --s: 194px;
    --c1: #f6edb3;
    --c2: #acc4a3;
  
    --_l: #0000 calc(25% / 3), var(--c1) 0 25%, #0000 0;
    --_g: conic-gradient(from 120deg at 50% 87.5%, var(--c1) 120deg, #0000 0);
  
    background: var(--_g), var(--_g) 0 calc(var(--s) / 2),
      conic-gradient(from 180deg at 75%, var(--c2) 60deg, #0000 0),
      conic-gradient(from 60deg at 75% 75%, var(--c1) 0 60deg, #0000 0),
      linear-gradient(150deg, var(--_l)) 0 calc(var(--s) / 2),
      conic-gradient(
        at 25% 25%,
        #0000 50%,
        var(--c2) 0 240deg,
        var(--c1) 0 300deg,
        var(--c2) 0
      ),
      linear-gradient(-150deg, var(--_l)) #55897c;
    background-size: calc(0.866 * var(--s)) var(--s);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .story{
    width: 900px;
    height: 600px;
    overflow-y: auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#container .story .details{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#container .story .details .text-story h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#container .story .details .text-story p{
    font-size: 15px;
}

#container .story .details .text-story{
    flex: 1;
    padding: 20px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#container .story .details .story img{
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

#container .story .kelompok{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#container .story .kelompok .text-kelompok{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

#container .story .kelompok .text-kelompok h1{
    margin-top: 20px;
    margin-bottom: 10px;
}

#container .story .kelompok .text-kelompok p{
    margin-top: 15px;
    font-size: 14px;
}

#container .story .kelompok .text-kelompok .image-container-kel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container .story .kelompok .text-kelompok .image-container-kel .image-box{
    margin: 10px;
    text-align: center;
}

#container .story .kelompok .text-kelompok .image-container-kel .image-box img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 2rem;
    transition: box-shadow 0.3s ease;
}

#container .story .kelompok .text-kelompok .image-container-kel .image-box img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#container .story .pengertian{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#container .story .pengertian .text-pengertian h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#container .story .pengertian .text-pengertian{
    flex: 1;
    padding: 20px;
}

#container .story .pengertian-1{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#container .story .pengertian-1 .text-pengertian-1 h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#container .story .pengertian-1 .text-pengertian-1{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#container .story .pengertian .text-pengertian p{
    font-size: 14px;
}

#container .story .pengertian-1 .text-pengertian-1 p{
    font-size: 14px;
}

#container .story .pengertian img{
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

#container .story .pengertian-1 img{
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
    order: -1;
}

#container .story .hitung-gauss{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 2rem;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#container .story .hitung-gauss .form-gauss{
    margin-top: 20px;
}

#container .story .hitung-gauss .form-gauss label{
    display: block;
    margin-bottom: 10px;
}

#container .story .hitung-gauss .form-gauss input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#container .story .hitung-gauss .form-gauss button{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}

#container .story .hitung-gauss .form-gauss button:hover{
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#container .story .hitung-gauss .form-gauss button:active{
    transform: translateY(-1px);
}

#container .story .hitung-gauss h2{
    margin-bottom: 20px;
}

#container .story .hitung-gauss p{
    font-size: 14px;
}

#container .story  .hasil-gauss{
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#container .story .footer{
    margin-top: 20px;
    padding: 10px;
    background-color: #ccc;
    border-top: 1px solid #999;
    text-align: center;
}

@media (max-width:600px){
    #container .story{
        padding: 10px;
    }

    #container .story .details .text-story h1 {
        font-size: 24px;
    }

    #container .story .details .text-story {
        padding: 10px;
    }

    #container .story .details img {
        max-width: 100%;
        height: auto;
        max-height: 140px; 
        width: auto;
        margin: 5px 0;
    }

    #container .story .details .text-story p {
        font-size: 12px;
    }

    #container .story .kelompok .text-kelompok .image-container-kel .image-box img {
        max-width: 150px;
    }

    #container .story .pengertian .text-pengertian h1,
    #container .story .pengertian-1 .text-pengertian-1 h1 {
        font-size: 24px;
    }

    #container .story .pengertian .text-pengertian p,
    #container .story .pengertian-1 .text-pengertian-1 p {
        font-size: 12px;
    }

    #container .story .pengertian img,
    #container .story .pengertian-1 img {
        max-width: 100px;
        margin-left: 0;
    }

    #container .story .hitung-gauss .form-gauss button {
        padding: 1em 2em;
        font-size: 14px;
    }

    #container .story .hitung-gauss h2,
    #container .story .hitung-gauss p {
        font-size: 12px;
    }

    #container .story .hasil-gauss {
        padding: 5px;
    }

    #container .story .footer {
        font-size: 12px;
    }
}

@media (max-width:360px){
    #container .story .details img {
        max-width: 100%;
        height: auto;
        max-height: 120px; 
        width: auto;
        margin: 5px 0;
    }
}

